/AeroScenery/.vs/AeroScenery/v15/*.suo
/AeroScenery/bin/Debug
/AeroScenery/obj/Debug
/AeroScenery/packages/EntityFramework.6.1.3
/AeroScenery/packages/GMap.NET.Windows.1.8.5
/AeroSceneryInstaller/.vs/AeroSceneryInstaller/v15/*.suo
/AeroScenery/packages/Newtonsoft.Json.9.0.1
/AeroScenery/packages/System.Data.SQLite.1.0.108.0
/AeroScenery/packages/System.Data.SQLite.Core.1.0.108.0
/AeroScenery/packages/System.Data.SQLite.Linq.1.0.108.0
/AeroScenery/packages/System.Data.SQLite.EF6.1.0.108.0
/AeroSceneryInstaller/bin/Debug
/AeroSceneryInstaller/obj/Debug
/AeroScenery/.vs/AeroScenery/v15/Server/sqlite3
/AeroScenery/packages/Dapper.1.50.4
/AeroScenery/bin/Release
/AeroScenery/obj/Release
/AeroScenery/packages/log4net.2.0.8/lib/
/AeroScenery/packages/log4net.2.0.8
/AeroScenery/packages/CsQuery.1.3.4
/AeroSceneryInstaller/bin/Release
/AeroSceneryInstaller/obj/Release
/AeroScenery/bin/DebugSceneryEditor
/AeroScenery/bin/Release.zip
/AeroScenery/obj/DebugSceneryEditor
/AeroScenery/packages/DockPanelSuite.3.0.4
